<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Admin</title>
    <style>
        form {
          padding: 20px;
          border: 1px solid black;
          width: 400px;
          margin: 20px;
        }
        input, textarea {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid black;
            margin-bottom: 10px;
            background-color: transparent;
        }
        
        .product_list {
            margin: 20px;
            border: 1px solid black;
        }
        .category_list > p {
            padding: 10px 20px;
            border-bottom: 1px solid black;
        }
        table {
          width: 100%;
        }
          table thead {
            background-color: orangered;
            color: white;
            font-weight: 800;
          }
          table tr {
            border-bottom: 1px solid black;
            display: flex;
          }
          table tr:nth-child(even) {
            background-color: lightgray;
          }
          table td {
            width: 100%;
            padding: 10px 20px;
            border-left: 1px solid black;
            border-right: 1px solid black;
          }

        .mask {
          background-color: black;
          opacity: 0.4;
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0px;
          left: 0px;
          z-index: 10;
          display: none;
        }
        .create_product {
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: white;
          z-index: 20;
        }
          .create_product form {
            margin: auto;
          }
          .create_product form input[type="submit"] {
            background-color: orangered;
            font-weight: 600;
            color: white;
            cursor: pointer;
          }
          .create_product form input[type="submit"]:hover {
            background-color: black;
            color: white;
          }

        #add_product {
          position: fixed;
          bottom: 50px;
          right: 50px;
          width: 100px;
          height: 100px;
          border: 3px solid black;
          background-color: orangered;
          color: white;
          border-radius: 50%;
          font-size: 100px;
          line-height: 100px;
          cursor: pointer;
          z-index: 30;
        }
        #add_product:hover {
          background-color: black!important;
        }
        #pad {
          text-align: center;
          padding: 60px 0 40px 0;
        }
    </style>
    <script>
      $(document).ready(() => {
        $('#add_product').click(() => {
          if($('#add_product').text() == "+") {
            $('#add_product').text("×").css("background-color", "red");
          } else {
            $('#add_product').text("+").css("background-color", "orangered");
          }
          $('.mask').toggle();
          $('.create_product').toggle();
        });
      });
    </script>
</head>
<body>
<div class="mask"></div>
<h1 id="pad">Product Admin Dashboard</h1>
<button id="add_product">+</button>
<div class="create_product">
  <form action="/create/product" method="post">
    <h6>Add Product</h6> <br>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="vendor" placeholder="Brand">
    <input type="number" name="unit_price" placeholder="Base Price">
    <input type="number" name="inventory_count" placeholder="Stocks">
    <input type="text" name="image_url" placeholder="Image URL">
    <textarea name="description" placeholder="Description"></textarea>
    <input type="submit" value="CREATE">
  </form>
</div>

<div class="product_list">
  <table>
    <thead>
      <td>ID</td>
      <td>Brand</td>
      <td>Name</td>
      <td>Price</td>
      <td>Discounted Price</td>
      <td>Rating</td>
      <td>Inventory Count</td>
      <td>Quantity Sold</td>
      <td>Edit | Delete</td>
    </thead>
    <tbody>
    <% for( let i = 0; i < products.length; i++ ) { %>
      <tr>
        <td style="font-weight: 600"><%= products[i].id %></td>
        <td><%= products[i].vendor %></td>
        <td><%= products[i].name %></td>
        <td>₱<%= products[i].unit_price %></td>
        <td>₱<%= products[i].discounted_price || products[i].unit_price %></td>
        <td><%= ((products[i].rating || 0.5) * 5).toFixed(1)  %> stars</td>
        <td><%= products[i].inventory_count%></td>
        <td><%= products[i].quantity_sold || 0 %></td>
        <td><a href="/admin/product/<%= products[i].id %>" style=" font-weight: bold">Edit</a> | <a href="#" style="color:red; font-weight: bold">Delete</a></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>

</body>
</html>